<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomeCollectionFlowLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07A501801D17C6210018FE5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A501991D17C6210018FE5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A501A41D17C6210018FE5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
